services:
  db:
    image: postgres:18.0-alpine3.22
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - bookshare
    command: >
      postgres
      -c shared_preload_libraries=pg_stat_statements
      -c pg_stat_statements.track=all
      -c pg_stat_statements.max=10000
      -c pg_stat_statements.track_utility=off

  app:
    image: book-share:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      DB_HOST: db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      ASPNETCORE_ENVIRONMENT: Development
    ports:
      - "8080:8080"
    networks:
      - bookshare
    depends_on:
      - db
    volumes:
      - uploads:/app/uploads

networks:
  bookshare:
    driver: bridge

volumes:
  uploads:
    driver: local
